*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}
.container {
    max-width: 1440px;
    padding-left: 156px;
    padding-right: 156px; 
    margin-left: auto;
    margin-right: auto;
}
.top-line .container{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e7e9fc;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-accent{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;;
}
.nav-container{
    display: flex;
    flex-direction: row;
    margin: 24px;
}
.nav-list{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    margin-left: 76px;

}
.contacts{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; 
}
.nav-link:hover {
    color: #404bbf;
}
.nav-link:focus {
    color: #404bbf;
}
.address{
    font-style: normal;
}
.contacts .items{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal
}
.contacts .items:hover{
    color: #404bbf;
}
.contacts .items:focus {
    color: #404bbf;
}
.first-section{
    background-color: #2e2f42;
    padding-bottom: 188px;
    padding-top: 188px;
}
.main-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    width: 496px;
    margin-left: auto;
    margin-right: auto; 
}
.order-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    display: block;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    border: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.order-button:hover{
    background-color: #404bbf;
}
.order-button:focus{
    background-color: #404bbf;
}
.blocks-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.body-par {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.studio-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.studio-list{
    display: flex;
    gap: 24px;
    justify-content: space-around;
}
.studio-list-items{
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: calc((100% - 72px) / 4);
}
.studio-list-items .blocks-title{
    text-align: left;
}
.team-section{
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-list{
    display: flex;
    gap: 24px;
    padding-top: 72px;
}
.team-list-items{
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    padding-top: 32px;
}
.team-par{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 32px;
}
.portfolio-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-list{
    margin-top: 72px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}
.portfolio-list-items .blocks-title{
    padding-top: 32px;
    text-align: left;
    padding-left: 16px;

}
.portfolio-list-items .body-par{
    margin-top: 8px;
    margin-bottom: 32px;
    text-align: center;
    text-align: left;
    padding-left: 16px;
}
.border-container{
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;  
    text-transform: capitalize;
}

.footer{
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-par{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    margin-top: 16px;
}
.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    
    }
.logo-footer-accent{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
