*,
*::before,
*::after {
  box-sizing: border-box;
}

/* #region Base styles */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* #endregion */
/* #region Reset styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
address {
  font-style: normal;
}
/* #endregion */
/* #region Common styles */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
/* #endregion */
/* #region Header */
.header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.header-logo {
  margin-left: 156px;
}
.logo-darck {
  color: #2e2f42;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.contacts {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover {
  color: #404bbf;
}
.nav-link:focus {
  color: #404bbf;
}
.contacts {
  margin-right: 156px;
}
.contacts-items {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts .items:hover {
  color: #404bbf;
}
.contacts-items:focus {
  color: #404bbf;
}
/* #endregion */
/* #region Hero */
.first-section {
  background-color: #2e2f42;
  padding-bottom: 188px;
  padding-top: 188px;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}
.order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  display: block;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  border: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 169px;
}
.order-button:hover {
  background-color: #404bbf;
}
.order-button:focus {
  background-color: #404bbf;
}
/* #endregion */
/* #region Studio */
.studio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.studio-list {
  display: flex;
  gap: 24px;
}
.studio-subtitle {
  margin-bottom: 8px;
}
.studio-list-items {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
/* #endregion */
.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-list {
  display: flex;
  gap: 24px;
  padding-top: 72px;
}
.team-list-items {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  padding-top: 32px;
}
.team-par {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 32px;
}
.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-list {
  margin-top: 72px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-items .section-title {
  padding-top: 32px;
  text-align: left;
  padding-left: 16px;
}
.portfolio-list-items .body-par {
  margin-top: 8px;
  margin-bottom: 32px;
  text-align: center;
  text-align: left;
  padding-left: 16px;
}
.border-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-par {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  margin-top: 16px;
}
.logo-light {
  color: #f4f4fd;
}
